/************************************************TAG SELECTORS************************************************/

body {
    background-color: #30475e;
    color: #e8e8e8;
    text-align: center;
    font-family: 'Merriweather', serif;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 5rem;
    text-shadow: 3px 0 #f05454;
}

/************************************************CLASS SELECTORS************************************************/

/* Containers */

.thedrumset {
    margin: 10% auto;
}


.drum {
    border: 10px solid #416180;
    border-radius: 15px;
    margin: 10px;
    line-height: 2;
    font-weight: 900;
    display: inline-block;
    size: 5rem;
    color: #f05454;
    width: 150px;
    height: 150px;
    font-size: 5rem;
    text-shadow: 3px 0 #dbdbdb;

}